.product-card {
    min-width: 320px;
    min-height: 460px;
}

.product-image {
    min-width: 300px;
    min-height: 245px;
}

.single-product-grid {
    width: 100%;
    min-height: 245px;
    max-height: fit-content;
}